#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/reset.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        /* Home-row mods with per-key tapping terms.
           QMK spartan_mittns had:
             HM_A: 200ms, no permissive hold (tap-preferred)
             HM_D: 170ms
             HM_F: 100ms
             HM_J: 100ms
             HM_K: 170ms
             default: 170ms
        */
        hm_a: homerow_mod_a {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hm_d: homerow_mod_d {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
        hm_f: homerow_mod_f {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <100>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
        hm_j: homerow_mod_j {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <100>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
        hm_k: homerow_mod_k {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
        hm_s: homerow_mod_s {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
        hm_l: homerow_mod_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
        tm_4: homerow_mod_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    /* Combo: left click + right click = middle click (scroll wheel click) */
    combos {
        compatible = "zmk,combos";
        mouse_middle_combo {
            timeout-ms = <50>;
            key-positions = <35 36>;
            bindings = <&mkp MCLK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: Default typing
         * Mapped from spartan_mittns layer 0, dropping far left/right columns.
         *
         *  Q     W     E     R     T        Y     U     I     O     P
         *  HM_A  HM_S  HM_D  HM_F  G        H     HM_J  HM_K  HM_L  ;
         *  Z     X     C     V     B        N     M     ,     .     /
         *
         *  Left thumbs (5):  Esc  LT1-Spc  MO2  MO2  LT1-Bsp
         *  Right thumbs (3): LCLK  RCLK  Enter
         */
        default_layer {
            bindings = <
                &kp Q      &kp W      &kp E       &kp R       &kp T        &kp Y    &kp U      &kp I      &kp O      &kp P
                &hm_a LGUI A &hm_s LALT S &hm_d LCTL D &hm_f LSHFT F &kp G  &kp H    &hm_j RSHFT J &hm_k RCTL K &hm_l RALT L &kp SEMI
                &kp Z      &kp X      &kp C       &kp V       &kp B        &kp N    &kp M      &kp COMMA  &kp DOT    &kp SLASH
                &kp ESC    &lt 1 SPACE &lt 2 CAPS &tm_4 LSHFT BSPC         &lt 2 LGUI   &mkp LCLK &mkp RCLK &kp ENTER
            >;
        };

        /* Layer 1: Numbers and symbols
         * Mapped from spartan_mittns layer 1, dropping far left/right columns.
         *
         *  Tab   7     8     9     =        _     _     _     _     _
         *  Tab   4     5     6     0        [     9     0     ]     _
         *  _     1     2     3     -        '     `     _     \     _
         *
         *  Left thumbs:  GUI  _  _  Del  Spc
         *  Right thumbs: _  _  _
         */
        num_sym {
            bindings = <
                &kp TAB    &kp N7     &kp N8     &kp N9     &kp EQUAL    &trans    &trans    &trans    &trans    &trans
                &kp TAB    &kp N4     &kp N5     &kp N6     &kp N0       &kp LBKT  &kp N9    &kp N0    &kp RBKT  &trans
                &trans     &kp N1     &kp N2     &kp N3     &kp MINUS    &kp SQT   &kp GRAVE &trans    &kp BSLH  &trans
                &kp LGUI   &trans     &trans     &trans     &kp SPACE    &trans    &trans    &trans
            >;
        };

        /* Layer 2: Navigation and function keys
         * Mapped from spartan_mittns layer 2, scooting far column keys inward.
         *
         *  Vol+  F7    F8    F9    F10      _      _      _      PgUp   _
         *  Vol-  F4    F5    F6    F11      Left   Down   Up     Right  Caps
         *  Mute  F1    F2    F3    F12      PgDn   _      _      _      Pscr
         *
         *  Left thumbs:  _  _  _  _  _
         *  Right thumbs: _  _  _
         */
        nav_fn {
            bindings = <
                &kp VOLU   &kp F7     &kp F8     &kp F9     &kp F10      &trans    &trans    &trans    &kp PGUP   &trans
                &kp VOLD   &kp F4     &kp F5     &kp F6     &kp F11      &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &kp CAPS
                &kp C_MUTE &kp F1     &kp F2     &kp F3     &kp F12      &kp PGDN  &trans    &trans    &trans     &kp PSCRN
                &trans     &trans     &kp DELETE &trans     &trans       &trans    &trans    &trans
            >;
        };

        /* Layer 3: Gaming (WASD shifted)
         * Mapped from spartan_mittns layer 3, dropping far left/right columns.
         *
         *  Q     W     E     R     _        _  _  _  _  _
         *  LSFT  A     S     D     F        _  _  _  _  _
         *  LCTL  Z     X     C     V        _  _  _  _  _
         *
         *  Left thumbs:  LCTL  Spc  _  _  _
         *  Right thumbs: _  _  _
         */
        gaming {
            bindings = <
                &kp Q      &kp W      &kp E      &kp R      &trans       &trans    &trans    &trans    &trans    &trans
                &kp LSHFT  &kp A      &kp S      &kp D      &kp F        &trans    &trans    &trans    &trans    &trans
                &kp LCTRL  &kp Z      &kp X      &kp C      &kp V        &trans    &trans    &trans    &trans    &trans
                &kp LCTRL  &kp SPACE  &trans     &trans     &trans       &trans    &trans    &trans
            >;
        };

        /* Layer 4: Function layer
         * Toggles gaming layer, reboots, and toggles underglow.
         *
         *  Tog3  _     _     _     _        _  _  _  _  _
         *  Reset _     _     _     _        _  _  _  _  _
         *  _     _     _     _     _        _  _  _  _  _
         *
         *  Left thumbs:  _  _  _  _  _
         *  Right thumbs: RGB_TOG  _  _
         */
        func {
            bindings = <
                &tog 3     &trans     &trans     &trans     &trans       &trans    &trans    &trans    &trans    &trans
                &sys_reset &trans     &trans     &trans     &trans       &trans    &trans    &trans    &trans    &trans
                &trans     &trans     &trans     &trans     &trans       &trans    &trans    &trans    &trans    &trans
                &trans     &trans     &trans     &trans     &trans       &rgb_ug RGB_TOG &trans &trans
            >;
        };
    };
};
